---
layout: default
title: People
description: "Meet the researchers and members of the Ungur Group at NUS."
---

{% assign active = site.data.people | where: "status", "active" %}
{% assign visiting = site.data.people | where: "status", "visiting" %}
{% assign past = site.data.people | where: "status", "past" %}

<div class="group-photo-container">
  <img src="assets/people/group_photo_2026.png" alt="Group photo" class="group-photo">
</div>

{% if active.size > 0 %}
  <h2>Active members</h2>

  <div class="people-list">
    {% for person in active %}
      {% include person-row.html person=person %}
    {% endfor %}
  </div>
{% endif %}

{% if visiting.size > 0 %}
  <h2>Visiting members</h2>

  <div class="people-list">
    {% for person in visiting %}
      {% include person-row.html person=person %}
    {% endfor %}
  </div>
{% endif %}

{% if past.size > 0 %}
  <h2>Past members</h2>

  Past members are gratefully acknowledged for their contributions, and if you wish to be listed here, please reach out to us with the appropriate information.

  <div class="people-list">
    {% for person in past %}
      {% include person-row.html person=person %}
    {% endfor %}
  </div>
{% endif %}
